.vs
.idea
EssentialUIKit/obj
EssentialUIKit/bin
EssentialUIKit.Android/obj
EssentialUIKit.Android/bin
EssentialUIKit.IOS/obj
EssentialUIKit.IOS/bin
.DS_Store
EssentialUIKit/.DS_Store
EssentialUIKit.Android.csproj.user
EssentialUIKit.iOS.csproj.user
EssentialUIKit.csproj.user