.vs
EssentialUIKit/obj
EssentialUIKit/bin
EssentialUIKit.Android/obj
EssentialUIKit.Android/bin
EssentialUIKit.Android/EssentialUIKit.Android.csproj.user
EssentialUIKit.Android/EssentialUIKit.Android.csproj
EssentialUIKit.IOS/obj
EssentialUIKit/EssentialUIKit.csproj.user
EssentialUIKit/EssentialUIKit.csproj